html,
body {
	height: 100%;
}

.container {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 50px;
	gap: 15px;
	overflow-y: scroll;
}

.header {
	font-size: x-large;
	font-weight: bolder;
}

.header,
.footer {
	text-align: center;
	padding: 10px;
	background-color: skyblue;
}

.card-container {
	padding: 15px;
}

.card {
	border-radius: 5px;
	font-size: larger;
	text-align: center;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	padding: 5px;
}

.card img {
	width: 100%;
	aspect-ratio: auto;
}

.card p {
	background-color: skyblue;
	width: 100%;
	padding: 5px;
}
